#text-image{
    border: 1px solid #333;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
}

select#my-select{
    border: 1px solid #ccc;
    font-size: 1.5em;
    padding: 7px;
}


/* Elementos selecionados */

/* Na lista de layers */
ul#text-image-layers li.selected{
	background-color: red;
}


/* No quadro */
.layer.selected{
    border: 1px outset #fff;
    cursor: move;
}

.layer.div-text div.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se{
    display: none;
}
.layer.div-text.selected div.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se{
    display: block;
}

.layer.selected:hover > .ui-resizable-handle,
.layer.selected:active > .ui-resizable-handle {
    display: block;
}
